<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dam.mapper.BackupFileHistoryMapper">

    <sql id="Base_Column_List">
        id,backup_file_id,modify_time,
        file_size,backup_start_time,backup_end_time,
        backup_target_path,backup_target_root_id,md5,
        backup_id
    </sql>
    <delete id="removeByFileIds">
        DELETE FROM backup_file_history WHERE backup_file_id IN
        <foreach collection="removeBackupFileIdList" item="fileId" separator="," open="(" close=")">
            #{fileId}
        </foreach>
    </delete>
    <select id="getLastBackupHistory" resultType="org.dam.entity.BackupFileHistory">
        SELECT * FROM backup_file_history WHERE backup_file_id = #{ fileId }
            ORDER BY id DESC LIMIT 1
    </select>
    <select id="listLastBackupHistoryByBackupFileIdList" resultType="org.dam.entity.BackupFileHistory">
        SELECT bfh.id,bfh.md5,bfh.file_size,bfh.backup_file_id,bfh.modify_time
        FROM backup_file_history bfh
        INNER JOIN (
            SELECT backup_file_id, MAX(backup_end_time) AS max_backup_end_time
            FROM backup_file_history
            WHERE backup_file_id IN
                <foreach collection="exitBackupFileIdList" item="fileId" separator="," open="(" close=")">
                    #{fileId}
                </foreach>
            GROUP BY backup_file_id
        ) max_dates ON bfh.backup_file_id = max_dates.backup_file_id
        AND bfh.backup_end_time = max_dates.max_backup_end_time
    </select>
</mapper>
