<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dam.mapper.BackupSourceMapper">

    <resultMap id="BaseResultMap" type="org.dam.entity.BackupSource">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="rootPath" column="root_path" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,root_path
    </sql>
</mapper>
