<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dam.mapper.FileMessageMapper">

    <resultMap id="BaseResultMap" type="org.dam.entity.FileMessage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="sourceFilePath" column="source_file_path" jdbcType="VARCHAR"/>
            <result property="targetFilePath" column="target_file_path" jdbcType="VARCHAR"/>
            <result property="fileSuffix" column="file_suffix" jdbcType="VARCHAR"/>
            <result property="fileLength" column="file_length" jdbcType="INTEGER"/>
            <result property="fatherId" column="father_id" jdbcType="BIGINT"/>
            <result property="isCompress" column="is_compress" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,source_file_path,
        target_file_path,file_suffix,file_length,
        father_id,is_compress,create_time,
        update_time
    </sql>
    <select id="selectSonFileIdListByFatherId" resultType="java.lang.Long">
        select id from file_message where father_id = #{fatherId}
    </select>
</mapper>
