<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dam.mapper.TotalBackupMapper">

    <resultMap id="BaseResultMap" type="org.dam.entity.TotalBackup">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="backupFileNum" column="backup_file_num" jdbcType="INTEGER"/>
            <result property="backupByteNum" column="backup_byte_num" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,start_time,end_time,
        backup_file_num,backup_byte_num
    </sql>
</mapper>
